@charset "utf-8";

/* 全局样式 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'HarmonyOS_Regular', sans-serif;
    overflow: hidden;
}

* {
    /* Prevent any object from being highlighted upon touch event */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*, a, p {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    color: #FFF;
    box-sizing: border-box;

    &:hover {
        transition: 0.3s;
    }
}

// 基础样式
#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: auto;
}

// 卡片样式
.cards {
    background: #00000040;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    transform: scale(1);
    transition:
        backdrop-filter 0.3s,
        transform 0.3s;
    &:hover {
        transform: scale(1.01);
    }

    &:active {
        transform: scale(0.98);
    }
}

// 文字超出
.text-hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 弹窗样式
.el-message {
    width: auto !important;
    --el-message-bg-color: #00000040 !important;
    --el-message-text-color: #EFEFEF !important;
    backdrop-filter: blur(10px);
    border-color: transparent !important;
    border-radius: 25px !important;

    .el-message__badge {
        display: none;
    }

    .el-message__content {
        width: max-content;
    }
}

// 进度条样式
.el-progress-bar {
    .el-progress-bar__outer {
        background-color: #00000020;
        border-radius: 6px;

        .el-progress-bar__inner {
            background-color: #EFEFEF;
            border-radius: 6px;
            text-align: center;
            font-family: 'UnidreamLED';

            span {
                color: #564D59;
                font-size: .9rem;
            }
        }
    }
}

// Tooltip 样式
.el-popper.is-dark {
    background: #FFFFFF60 !important;
    border: 1px solid transparent !important;
}

// 卡片样式
.el-card {
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 8px !important;

    .el-card__header {
        padding: 16px 20px !important;
        background-color: #FFFFFF30 !important;
        border-bottom: 1px solid transparent !important;
        font-weight: bold;
    }

    .el-card__body {
        padding: 0 !important;
        background-color: #FFFFFF10 !important;
    }
}

// 动画效果
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease-in-out;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
@keyframes fade-blur-in {
    from {
        filter: blur(20px) brightness(0.3);
        transform: scale(1.4);
    }
    to {
        filter: blur(0) brightness(1);
        transform: scale(1);
    }
}
  
@keyframes fade-blur-main-in {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

// 隐藏元素
@media (min-width: 910px) and (max-width: 1200px) {
    .sm-hidden {
        display: none;
    }
}

// 自定义鼠标
#cursor {
    opacity: 0.25;
    position: fixed;
    width: 18px;
    height: 18px;
    background: #FFF;
    border-radius: 25px;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;

    &.hidden {
        opacity: 0;
    }

    &.active {
        opacity: 0.5;
        transform: scale(0.5);
    }
}

// 滚动条样式
::-webkit-scrollbar, scrollbar {
    display: none;
}

/*
::-webkit-scrollbar, scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb, scrollbar-thumb {
    border-radius: 10px;
    background-color: #EEEEEE;
}
*/

// Swiper 样式
.swiper {
    .swiper-wrapper {
        z-index: 0 !important;
    } 
}